{% extends 'layouts/default.html.twig' %}

{% block title %}Lista de Clientes | {{ parent() }}{% endblock %}

{% block content %}
    <ul>
        {% for cliente in clientes %}
            <li>{{ cliente.nome }} ({{ cliente.email }})</li>
        {% endfor %}
    </ul>
{% endblock %}