{% extends 'layouts/default.html.twig' %}

{% block title %}Olá | {{ parent() }}{% endblock %}

{% block content %}
    <p>Olá {{ nome }}!</p>

    <!-- Usando o link (bind) de rota -->
    <p>Eu quero ir para o <a href="{{ path('index') }}">index</a></p>
{% endblock %}